.default {
        padding: 30px;

    .blog-main, .blog-sidebar {
        float: left;
    }

    .blog-main {
        width: 66.66%;
    }

    article {
        margin: 40px 0 0;
        position: relative;
    }

    .type-header .article-content {
        width: 100%;

        .blog-post-meta {
            display: none;
        }
    }

    .article-content {
        float: right;
        width: 60%;
        margin: 0 0 40px 6.66%;
    }

    .blog-post-meta {
        position: absolute;
        left: 0;
        text-align: right;
        width: 33%;
        margin: 0;
    }    

    .blog-sidebar {
        padding-left: 5%;
        width: 33.33%;
    }
}