.default {
        padding: 30px;

    .blog-main, .blog-sidebar {
        float: left;
    }

    .blog-main {
        width: 66.66%;
    }

    article {
        margin: 40px 0 0;
        position: relative;
    }

    .type-header .article-content {
        width: 100%;

        .blog-post-meta {
            display: none;
        }
    }

    .article-content {
        float: right;
        width: 60%;
        margin: 0 0 40px 6.66%;
    }

    .blog-post-meta {
        position: absolute;
        left: 0;
        text-align: right;
        width: 33%;
        margin: 0;
    }

    @media screen and (max-width: 1100px) {
        .article-content {
            width: 80%;
        }

        .blog-post-meta {
            position: relative;
            text-align: left;
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        .blog-main, .article-content {
            margin: 0 auto;
            width: 100%;
        }
    }
}