footer {
    clear: both;
    margin: 0 30px;
    padding: 10px 0;

    a {
        color: $link;
        font-size: 14px;
        font-weight: $bold;
        &:hover {
            color: $link-hover;
            text-decoration: none;
        }
    }

    a:not(:last-child) {
        &:after {
            content: ' | ';
        }
    }
}