footer {
    clear: both;
    padding: 20px 30px;
    border-top: 1px solid $border;

    a {
        color: $link;
        font-size: 14px;
        font-weight: $bold;
        &:hover {
            color: $link-hover;
            text-decoration: none;
        }
    }

    a:not(:last-child) {
        &:after {
            content: ' | ';
        }
    }
}