footer {
    clear: both;
    padding: 20px 30px;
    border-top: 1px solid $border;

    .copyright, .made-by, a {
        font-size: 14px;
    }

    .made-by {
        float: right;
    }

    a {
        color: $link;
        font-weight: $bold;
        &:hover {
            color: $link-hover;
            text-decoration: none;
        }
    }
}