.home {
    background: url('assets/images/entrepreneur-home-page.jpg') no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 30px;

    .blog-post {
        background: rgba(255, 255, 255, 0.9);
        width: 40%;
        padding: 30px;
    }

    @media screen and (max-width: 1100px) {
        .blog-post {
            width: 45%;
        }
    }

    @media screen and (max-width: 768px) {
        .blog-post {
            width: 65%;
        }
    }

    @media screen and (max-width: 600px) {
        .blog-post {
            width: 100%;
        }
    }
}