.home {
    background: url('assets/images/entrepreneur-home-page.jpg') no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 30px;

    .blog-post {
        background: rgba(255, 255, 255, 0.9);
        width: 35%;
        padding: 30px;
    }
}