.with-sidebar-page {
    .blog-post-meta {
        display: none;
    }

    .blog-main {
        width: 60%;
    }

    .article-content {
        width: 65%;
        margin: 0 0 40px 6.66%;
    }

    .blog-sidebar {
        padding: 0 10% 0 5%;
        width: 40%;
    }
}