.with-sidebar-page {
    .blog-post-meta {
        display: none;
    }

    .blog-main {
        width: 60%;
    }

    .article-content {
        width: 65%;
        margin: 0 0 40px 6.66%;
    }

    .blog-sidebar {
        width: 40%;
    }

    @media screen and (max-width: 1100px) {
        .article-content {
            width: 80%;
        }
    }

    @media screen and (max-width: 768px) {
        .blog-main, .article-content {
            margin: 0 auto;
            width: 100%;
        }
    }
}