$black: #000000;
$white: #ffffff;
$dark-grey: #a8a8a8;
$medium-grey: #e7e7e7;
$light-grey: #f7f7f7;
$blue-grey: #537eb5;
$darkblue-grey: #365175;
$blue: #192536;

// TEXT COLOUR
$text-dark: $black;
$text-light: $white;

// HEADER
$nav-pre-bg: $light-grey;
$nav-bg: $white;
$nav-link: $black;

// FOOTER
$link: $blue-grey;
$link-hover: $darkblue-grey;

// ELEMENTS COLORS
$border: $medium-grey;
$button-bg: $blue;
$button-hover-bg: $blue-grey;